/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('fonts/montserrat.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('fonts/montserrat.woff') format('woff'),
}